body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #fcfcfc url(../images/bg.jpg) repeat;
  color: #555555;
  min-width: 320px;
  font-size: 90%;
}
a i.icon,
.text i.icon {
  margin-right: 0.5em !important;
  margin-left: 0 !important;
}
.right .text i.icon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#apps {
  position: absolute;
  top: 43px;
  bottom: 0;
  left: 0;
  right: 0;
}
#apps > .app {
  padding: 5px;
}
